[submodule "deps/eliza"]
	path = deps/eliza
	url = https://github.com/elizaOS/eliza.git
[submodule "packages/plugin-flow"]
	path = packages/plugin-flow
	url=https://github.com/fixes-world/plugin-flow.git
[submodule "packages/plugin-di"]
	path = packages/plugin-di
	url = https://github.com/fixes-world/plugin-di.git
